<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]="!(foods$$ | async) || !(foods$$ | async)?.length" resetLinkText="Reset Search">
</app-not-found>
<ul>
    <li *ngFor="let food of foods$$ | async">
        <a routerLink="/food/{{food.id}}">
            <img src="{{food.imageUrl}}" alt="food">
            <div class="content">
                <div class="content">
                    {{food.name}}
                </div>
                <span class="favorite {{food.favorite?'':'not'}}">
                    ❤
                </span>
                <div class="stars">
                    <app-star-rating [stars]="food.stars"></app-star-rating>
                </div>
                <div class="product-item-footer">
                    <div class="origins">
                        <span *ngFor="let origin of food.origins">
                            {{origin}}
                        </span>
                    </div>
                    <div class="cook-time">
                        <span>🕑{{food.cookTime}}</span>
                    </div>
                </div>
                <div class="price">
                    <span>{{food.price | currency}}</span>
                </div>
            </div>
        </a>
    </li>
</ul>